In [1]:
import numpy as np
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('/storage/Study/DBO/ml/day5/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

**1.Сколько мужчин и женщин в этом наборе данных?**

In [12]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст женщин?**

In [21]:
round(data[data['sex'] == 'Female']['age'].mean())

37

**3. Какова доля людей чьей родиной является Германия?**

In [34]:
data[data['native-country'] == 'Germany'].shape[0]/data.shape[0]

0.004207487485028101

**4-5. Посчитайте среднее и стандартное отклонения возраста людей, которые зарабатывают более 50 тысяч в год. То же для тех кто зарабатывает менее 50 тысяч**

In [61]:
mean_more50 = data[data['salary'] == '>50K']['age'].mean()
std_more50 = data[data['salary'] == '>50K']['age'].std()
mean_less50 = data[data['salary'] == '<=50K']['age'].mean()
std_less50 = data[data['salary'] == '<=50K']['age'].std()

print( 
    '''
    mean >50k: %3d
    std >50k: %3d
    mean <=50k: %3d
    std <=50k: %3d
    ''' %
    (mean_more50, std_more50, mean_less50, std_less50))

    mean >50k:  44
    std >50k:  10
    mean <=50k:  36
    std <=50k:  14

**6. Правда ли что все кто зарабатывает более 50 тысяч в год имеют высшее образование (Бакалавр и выше)**

In [78]:
if data[(data['salary'] == '>50K') & (data['education-num'] < 13)].shape[0] != 0:
    print('False')

False

**7. Выведите статистику по возрасту для представителей всех рас (race) сгруппировав их по полу.
Каков максимальный возраст мужчины расы Amer-Indian-Eskimo.**

In [97]:
print(data.groupby('race').age.agg(['min','mean','max', 'count']))
data.groupby('race').age.agg('max')['Amer-Indian-Eskimo']

min       mean  max  count
race
Amer-Indian-Eskimo   17  37.173633   82    311
Asian-Pac-Islander   17  37.746872   90   1039
Black                17  37.767926   90   3124
Other                17  33.457565   77    271
White                17  38.769881   90  27816

82

**8.Кто зарабатывает больше, женатый или не женатый мужчина?**

In [185]:
married = data[
(data['sex'] == 'Male') & \
(data['marital-status'].isin(['Married-civ-spouse',
'Married-spouse-absent',
'Married-AF-spouse']))] \
.groupby('marital-status')['capital-gain'].agg('sum').sum()

single = data[
(data['sex'] == 'Male') & \
(data['marital-status'].isin(
['Never-married',
'Divorced',
'Separated',
'Widowed']
))] \
.groupby('marital-status')['capital-gain'].agg('sum').sum()

print( 
    '''
    single: %3d
    married: %3d
    ''' %
    (single, married))

if single > married:
    print('Single')
else:
    print('Married')

    single: 4997101
    married: 23969873

Married

**9. Сколько людей работают максимальное количество часов в неделю (и сколько это часов)? Как много среди них тех кто зарабатывает более 50 тысяч?**

In [180]:
max_hours_count = data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]

max_hours_count_more50 = data[data['hours-per-week'] == data['hours-per-week'].max()][data['salary'] == '>50K'].shape[0]

print( 
    '''
    max_hours_count: %3d
    max_hours_count_more50: %3d
    ''' %
    (max_hours_count, max_hours_count_more50))

    max_hours_count:  85
    max_hours_count_more50:  25

**10. Посчитайте среднее количество рабочих часов в неделю для людей с зарплатой более 50 тысяч и для людей с зарплатой менее 50 тысяч для каждой страны. Сколько в среднем работают в Японии?**

In [202]:
data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [217]:
more50 = data[data['salary'] == '>50K'].groupby('native-country')['hours-per-week'].mean()
less50 = data[data['salary'] == '<=50K'].groupby('native-country')['hours-per-week'].mean()
japan = data[data['native-country'] == 'Japan'].groupby('native-country')['hours-per-week'].mean().values[0]

print("Japan:")
print(round(japan,2))
print("===more than 50k: ===")
print(more50)
print("===less than 50k: ===")
print(less50)

Japan:
43.69
===more than 50k: ===
native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
===less than 50k: ===
native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64